# Flask
# Flask-Cors
# langchain
# langchain-community
# langchain-core
# langchain-google-genai
# langchain-mongodb
# langchain-pinecone
# langchain-text-splitters
# google-generativeai
# google-auth
# google-auth-httplib2
# grpcio
# grpcio-status
# gunicorn
# pypdf
# neo4j
# requests
# APScheduler
# chroma
# chromadb
# langchain-chroma
# protobuf==3.20.*
# folium
# geopy
# langchain-huggingface
# langchain-groq


Flask==3.0.3
Flask-Cors==4.0.1
gunicorn==22.0.0
requests==2.32.3
pypdf==4.3.1
neo4j==5.23.1
APScheduler==3.10.4
folium==0.17.0
geopy==2.4.1

langchain==0.2.17
langchain-core==0.2.43
langchain-community==0.2.19
langchain-text-splitters==0.2.4
langchain-google-genai==1.0.10
langchain-mongodb==0.1.9
langchain-pinecone==0.1.3
langchain-huggingface==0.0.3
langchain-groq==0.1.9
langchain-chroma==0.1.4

google-generativeai==0.7.2
google-auth==2.34.0
google-auth-httplib2==0.2.0
grpcio==1.66.1
grpcio-status==1.66.1
protobuf==4.25.4

chromadb==0.5.5
sentence-transformers==3.0.1